{% extends 'main.html' %}

{% block content %}
        {% if scheme %}
        <form method="POST" enctype="multipart/form-data" hx-post="{% url 'edit-scheme' scheme.id %}">
        {% else %}
            <form method="POST" enctype="multipart/form-data" hx-post=".">
            {% endif %}
        {% csrf_token %}
        {{ schemaform.as_p }}
        {{ formset.as_p }}
         <button hx-get="{% url 'column-form' %}" hx-swap="beforeend" hx-target="#columnforms" >
            Add Column
        </button>
            <div id = "columnforms">
            </div>
             <button>Submit</button>

    </form>


{% endblock %}