{% load static %}

<!-- Navbar Light -->
  <nav class="navbar navbar-expand-lg navbar-light py-3 mb-5">
    <div class="container">
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation" >
        <ul class="navbar-nav navbar-nav-hover
">
            <li class="nav-item mx-2 ms-lg-5 border border-secondary text-light">
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center hover" href="{% url 'listschema' %}">
                <strong>All Schemas</strong>
            </a>
          </li>

             <li class="nav-item ms-lg-auto border border-secondary text-light">
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center hover" href="{% url 'create-schema' %}">
                <strong class="text-dark">Create Scheme</strong>
            </a>
          </li>
            <li class="nav-item mx-2 ms-lg-5 border border-secondary float-right">
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center hover" href="{% url 'logout' %}">
                <strong>Logout</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- End Navbar -->
